form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

button {
    margin-top: 2rem;
}

main {
    text-align: center;
}

.user_container {
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

}
.user_admin {
    width: 60%;
    background-color: bisque;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

}

label {
    display: flex;
}

@media screen and (max-width: 768px) {

    .user_admin {
        width: 100%;
    }

    form {
        width: 84%;
    }
    
    label, input {
        font-size: 1.3rem;
    }
    

    button {
        font-size: 1.3rem;
    }
}